<li>
  <%= gravatar_for user.name, user.email, size: 50 %>
  <%= link_to user.name, user %>
  <%# REVIEW: unavaliable to use method chain? %>
  <% if admin_current_user? && !current_user?(user) %>
    | <%= link_to 'delete', user, method: :delete, data: { confirm: 'You sure?' } %>
  <% end %>
</li>
